set visualbell
set noerrorbells
set scrolloff=5
set incsearch
set idearefactormode=keep
set ideajoin
set surround
set NERDTree

let mapleader=" "

nmap <leader>ru <Action>(Run)
nmap <Leader>q <Action>(CloseAllEditorsButActive)
nmap <Leader>ha <Action>(HideActiveWindow)
nmap <leader>br <Action>(ToggleLineBreakpoint)
nmap <Leader>e <Action>(ActivateProjectToolWindow)
nmap <leader>f <Action>(Find)
nmap <leader>r <Action>(Replace)
nmap <Leader>c <Action>(CloseContent)
nmap <Leader>a <Action>(ShowIntentionActions)
nmap <Leader>i <Action>(GotoImplementation)
nmap <Leader>/ <Action>(CommentByLineComment)
nmap <Leader>ee <Action>(SelectInProjectView)

nmap <Leader>l <Action>(ReformatCode)
nmap <leader>d <Action>(Debug)
nmap <leader>s <Action>(Stop)
nmap <leader>b <Action>(Build)

nmap <S-l> <Action>(NextTab)
nmap <S-h> <Action>(PreviousTab)
nmap <S-r> <Action>(RenameElement)
nmap <S-p> <Action>(FindInPath)
nmap <S-f> <Action>(GotoFile)
nmap <S-u> <Action>(GotoDeclaration)
nmap <S-n> <Action>(NewFile)

# debugging
nmap<Leader>so <Action>(StepOver)
nmap<Leader>si <Action>(StepInto)
nmap<Leader>rr <Action>(Rerun)
nmap<Leader>res <Action>(Resume)
